/* Start your code here: */

html {
	box-sizing: border-box;
	font-size: @defaultFontSize;
	font-family: 'Roboto Condensed', sans-serif;

}

*, *:before, *:after {
    box-sizing: inherit;
}


body{
	background-color: lightblue;

	section.header-navWrapper{
		background-color: @whiteBkg;
		height: 70px;
		box-shadow: 0 .25rem 2px #AAAAAA;
		z-index: 4;
		position:sticky, -webkit-sticky;

		top: 0;
		width: 100%;
	}

	header{
		background-color: @whiteBkg;
		height: 30px;
		max-width: 940px;
		margin: 0 auto;
		font-size: 1.2rem;
		.flexCentered();
		

	header a, nav a{
		.linkStyle();
		align-self: center;
	}
	


	} //end header

	nav{
		background-color: @whiteBkg;
		height: 40px;
		max-width: 940px;
		margin: 0 auto;
		font-size: 1.5rem;
		.flexCentered();
		

		#logo{
			font-family: 'Courgette', cursive;
			font-size: 2.5rem;
		}

		#logo-sm{
			font-family: 'Courgette', cursive;
			font-size: 1.5rem;
		}
	
	}//end nav

	section.scheduleNow{
		.flexCentered();
		background-color: @whiteBkg;
		max-width: 1340px;
		height: 60px;
		position: static;
		top: 70px;
		z-index: 1;
		margin: 0 auto;
		color: @disneyBlue;
		font-size: 1.5rem;
		align-items: center;
		padding: @edge;

	
		
	}

	div.underHeader{
		background-image: url(../Images/lotusHero1600.jpg);
		background-size: cover;
	}

// main{
// 	background-image{}
// }

	

}
