/* Start your code here: */

html {
	box-sizing: border-box;
	font-size: @defaultFontSize;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body{
	background-color: lightblue;

	.header-navWrapper{
		background-color: @whiteBkg;
		height: 70px;
		box-shadow: 0 .25rem 2px #AAAAAA;
	}

	header{
		background-color: @whiteBkg;
		height: 30px;

	} //end header

	nav{
		background-color: @whiteBkg;
		height: 40px;

		max-width: 1035px;
		margin: 0 auto;
		.flexCentered();
	
	}//end nav


}
