/* Start your code here: */

html {
	box-sizing: border-box;
	font-size: @defaultFontSize;
	font-family: 'Roboto Condensed', sans-serif;

}

*, *:before, *:after {
    box-sizing: inherit;
}


body{
	background-color: @whiteBkg;

	section.header-navWrapper{
		background-color: @whiteBkg;
		height: 70px;
		box-shadow: 0 .25rem 2px #AAAAAA;
		z-index: 4;
		position:sticky, -webkit-sticky;

		top: 0;
		width: 100%;
	}
	
	a{
		.linkStyle();
		align-self: center;


	} 

	nav{
		background-color: @whiteBkg;
		height: 40px;
		max-width: 940px;
		margin: 0 auto;
		font-size: 1.5rem;
		.flexCentered();
		

		#logo{
			font-family: 'Courgette', cursive;
			font-size: 2.5rem;
		}

		#logo-sm{
			font-family: 'Courgette', cursive;
			font-size: 1.5rem;
		}
	
	}//end nav

	section.scheduleNow{
		.flexCentered();
		background-color: @whiteBkg;
		max-width: 1340px;
		height: 60px;
		position: static;
		top: 70px;
		z-index: 1;
		margin: 0 auto;
		color: @disneyBlue;
		font-size: 1.5rem;
		align-items: center;
		padding: @edge;

	
		
	}

	i{
		margin: 0 1em;
		width: 1.5em;
		height: auto;
	}


	div.underHeader{
		// Photo by Jay Castor on Unsplash
		background-image: url(../Images/lotusHero.jpg);
		width: 100vw;
		height: 65rem;
		position: absolute;
		z-index: -1;
		font-size: 2rem;

			

		
		
		

		.build-your-experience{
			.flexCentered();
			
			
			#checkIn, #checkOut{
				width: 5em;
			}

			#accessibleRms{
				font-size: 1.2em;
			}


			input{
				border: none;
				border-bottom: 2px @disneyBlue solid;
				margin-left: 1em;
				font-size: 1.5em;

			}

			.numAdults, .numChild{
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;

				input{
					margin-left: 0;
					width: 2em;
				}

				.far-minus-circle{
					margin-left: 1.5em;
				}

				.btnFindSpa{
					.btnFindSpa(@whiteBkg, @stdRadius, @grassGreen);
				}//end .btnFindSpa


			} //end .numAdults, .numChild

		} //end .build-your-experience

	} //end div.underHeader

	main{
		max-width: 1300px;
		margin: 0 auto;	


	} //End Main

	

} //end Body
