//Defaults
@defaultFontSize: 62.5%;
@edge: 2%;

//Base Colors 
@disneyBlue: #0470ab; 
@darkenedBlue: darken(@disneyBlue, 50%);
@whiteBkg: #FFF;
@grassGreen: #58831b;
@stdRadius: 10px;


//Color References
    //Find Spa Button
    @btnSpaFinder: @grassGreen;
    @btnTxtColor: @whiteBkg;
    @btnBordRadius: @stdRadius;



