//Defaults
@defaultFontSize: 62.5%;
@edge: 2%;

//Colors 
@disneyBlue: #0470ab; 
@darkenedBlue: darken(@disneyBlue, 50%);
@whiteBkg: #FFF;


//Mixins 

//Displays content as flex, centers content and adds a centering margin.
.flexCentered{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }


  .linkStyle{
      text-decoration: none;
      list-style: none;
      
  }